<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.pms.mapper.SkuAttrValueMapper">

    <select id="querySaleAttrValuesMappingSkuIdBySpuId" resultType="java.util.Map">
        select GROUP_CONCAT(attr_value order by attr_id asc),sku_id
        from pms_sku_attr_value
        <trim prefix="where" suffix="group by sku_id">
            <foreach collection="skuIds" item="skuId" separator="," open="(" close=")">#{skuId}</foreach>
        </trim>
    </select>
</mapper>
